body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    text-align: center;
    font-family: verdana;
    font-size: 300%;
  }

center{
        text-align: center;
        border: 3px solid green;
      }
  p {
    color: black;
    font-family: courier;
    font-size: 160%;
  }